#main {
	padding-top: 10px;
}

.error-msg, .success-msg {
	display: none;
}

#sign-up-box {
	display: none;
}

#btn-near-by-shops {
	cursor: not-allowed;
	margin-right:5px;
}

.section-header {
	float:right;
	font-size: 85%;
	position: relative;
	top:-10px;
}